<h3 class="ui header">{{t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.нормаРасхода
      class=(if (v-get validationModel "нормаРасхода" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.нормаРасхода-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-нормаРасхода=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "нормаРасхода" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.колПоАктТек
      class=(if (v-get validationModel "колПоАктТек" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.колПоАктТек-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-колПоАктТек=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "колПоАктТек" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.суммаИтого
      class=(if (v-get validationModel "суммаИтого" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.суммаИтого-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-суммаИтого=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "суммаИтого" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.сотрудники-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.сотрудники
      relationName="сотрудники"
      projection="ДолжностьL"
      title=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.сотрудники-caption")
      readonly=readonly
      componentName="сотрудникиLookup"
      class=(if (v-get validationModel "сотрудники" "isInvalid") "error")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-сотрудники=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "сотрудники" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.фИО
      class=(if (v-get validationModel.сотрудники "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.сотрудники.фИО-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-сотрудники-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "фИО" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.номенклатура-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.номенклатура
      relationName="номенклатура"
      projection="НоменклатураL"
      title=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.номенклатура-caption")
      readonly=readonly
      componentName="номенклатураLookup"
      class=(if (v-get validationModel "номенклатура" "isInvalid") "error")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-номенклатура=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номенклатура" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.номенклатура.наименов
      class=(if (v-get validationModel.номенклатура "наименов" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.номенклатура.наименов-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-номенклатура-наименов=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.номенклатура "наименов" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.расхМатВСтро-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.расхМатВСтро
      relationName="расхМатВСтро"
      projection="РасхМатВСтроL"
      title=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.расхМатВСтро-caption")
      readonly=readonly
      componentName="расхМатВСтроLookup"
      class=(if (v-get validationModel "расхМатВСтро" "isInvalid") "error")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-расхМатВСтро=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "расхМатВСтро" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.расхМатВСтро.количество
      class=(if (v-get validationModel.расхМатВСтро "количество" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.расхМатВСтро.количество-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-расхМатВСтро-количество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.расхМатВСтро "количество" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.докСмета-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.докСмета
      relationName="докСмета"
      projection="ДокСметаL"
      title=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.докСмета-caption")
      readonly=readonly
      componentName="докСметаLookup"
      class=(if (v-get validationModel "докСмета" "isInvalid") "error")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-докСмета=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "докСмета" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.докСмета.количество
      class=(if (v-get validationModel.докСмета "количество" "isInvalid") "error")
      label=(t "forms.i-i-s-proekt-отч-о-рас-ос-мат-e.докСмета.количество-caption")
      data-test-i-i-s-proekt-отч-о-рас-ос-мат-e-докСмета-количество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.докСмета "количество" "message")}}
  </div>
</form>
